@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
    padding: 25px 30px;
    max-width: 700px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

.container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    bottom: 0;
    left: 0;
    border-radius: 1000px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px 12px 0px;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}


form .user-details .details {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

form .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

form .user-details .input-box input:focus,
form .user-details .input-box input:valid {
    border-color: #9b59b6;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .gender-details .category {
    margin: 14px 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.gender-details .category label {
    display: flex;
    align-items: center;
}

.gender-details .category .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin-right: 10px;
    border: 5px solid transparent;
    color: #9b59b6;
    transition: all 0.3s ease;
}

#dot-1:checked~.category .one,
#dot-2:checked~.category .two,
#dot-3:checked~.category .three {
    border-color: #d9d9d9;
    background-color: #9b59b6;
}

form input[type="radio"] {
    display: none;
}

form .button{
    height: 45px;
    margin: 35px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

form .button input{
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    background-color: white;

}

form .button::after{
    content: '';
    position: absolute;
    height: 114%;
    width: 101.3%;
    border-radius: 5px;
    z-index: -1;
    background-image: linear-gradient(135deg, #71b7e6, #9b59b6);
}

input[type="submit"]:hover{
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    color: white;
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }

    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 497px) {
    .container .content .category {
        flex-direction: column;
    }
}